{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'board.css' %}">
</head>
<body>
    <div class="group">
        <!-- <input type="submit" class="button" id = "student" value="Logout"> -->
        {% if student == True %}
        <a id = "student" href="{% url 'mainhome' %}">Logout</a>
        {% endif %}
        {% if teacher == True %}
        <a id = "teacher" href="{% url 'mainhome' %}">Logout</a>
        {% endif %}
    </div>
    <div class="board">
        <img src="{% static 'board.png' %}" alt="Board" class="center">          
    </div>
    <div id="container">
        <div class="upper">
            <a class="TnP" href="{% static 'paper.png' %}" title="Training and Placement "> <img src="Paper1" alt="placeholder"/></a>
            <a class="CSE" href="{% static 'paper.png' %}" title="Computer Science"> <img src="Paper2" alt="placeholder" /></a>
            <a class="IT" href="{% static 'paper.png' %}" title="Information Technology"> <img src="Paper2" alt="placeholder" /></a>
            <a class="EC" href="{% static 'paper.png' %}" title="Electronics and Communication"> <img src="Paper3" alt="placeholder" /></a>
        </div>
        <div class="lower">
            <a class="EE" href="{% static 'paper.png' %}" title="Electrical"> <img src="Paper5" alt="placeholder" /></a>
            <a class="CE" href="{% static 'paper.png' %}" title="Civil"> <img src="Paper6" alt="placeholder" /></a>
            <a class="TnP" href="{% static 'paper.png' %}" title="Mechanical"> <img src="Paper7" alt="placeholder" /></a>
        </div> 
    </div>
</body>
</html>